// Global default params, used in configs
params {
    project = "test-gwas"
    genotypes_imputed = "input"
    genotypes_imputed_format = "vcf"
    genotypes_imputed_have_index = true
    genotypes_imputed_dosages = "DS"
    genotypes_build = "hg19"
    output = "output"
    pgs_scores = "PGS000667"
    min_r2 = 0
    scores = ""
    scores_meta = "NO_FILE"
    write_variants = false
    chunk_size = 0
    fix_strand_flips = false
}

docker.enabled = true
process.container= 'lukfor/pgs-calc-nf:latest'

// default: resume
resume = true

// TODO: add profiles
