// Global default params, used in configs
params {
    project = "test-gwas"
    genotypes_imputed = "input"
    genotypes_imputed_format = "vcf"
    genotypes_imputed_have_index = true
    genotypes_imputed_dosages = "DS"
    genotypes_build = "hg19"
    output = "output"
    pgs_scores = "PGS000667"
    dbsnp_index = ""
    scores = ""
    pgs_catalog_url = "https://ftp.ebi.ac.uk/pub/databases/spot/pgs/metadata/pgs_all_metadata.xlsx"
    write_variants = false
}

docker.enabled = true
process.container= 'lukfor/pgs-calc-nf:latest'

// default: resume
resume = true

// TODO: add profiles
